html{
  background-color: #e0ebeb;
}

#map5 { height: 65vh; width: 80vw; margin: 0 auto;
  border:3px; border-style:solid; border-color:#669999;}
#map6 { height: 65vh; width: 80vw; margin: 0 auto;
  border:3px; border-style:solid; border-color:#669999;}

h1{
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-size: 3.5em;
  margin: -5px;
}
h2{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 1.75em;
  margin: 2px;
}
h3{
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  font-size: 1.25;
}
p{
  font-family: sans-serif;
  margin-left: 10px;
}
.textwrap{
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border:3px; border-style:solid; border-color:#669999;
}
#info{
  text-align: center;
}
#fish{
  text-align: center;
}
footer{
  background-color:#669999;
}
#footer{
  font-family: 'Fjalla One', sans-serif;
}
ul{
  font-family: sans-serif;
  list-style: none;
}
